#wrapper{
	margin:0px auto;
	min-width:800px;
	padding:10px;
}

.tab_wrapper{
	  padding: 10px;
	  border: 2px solid rgb(0, 0, 0);
	  display: inline-block;
	  overflow-x: hidden;
	  border-bottom: none;
	  background: rgb(79, 79, 79);
	  color: rgb(255, 255, 255);
	  font-weight: bold;
	  letter-spacing: 1.5px;
}


#content_container{
	  min-height: 500px;
	  border: 1px solid rgb(201, 201, 201);
	  background: rgb(231, 231, 231);
}

.protocol-container
{
	padding:10px;
	background:rgb(240, 240, 240);
}

.ch_button_container
{
	width:150px;

}

.ch_button_container input[type="button"]
{
	width:90%;
	cursor:pointer;
}

.ch_button_container input[type="button"].PublishBtn
{
	background: #cdeb8e; /* Old browsers */
	background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
	background: linear-gradient(to bottom, #cdeb8e 0%,#a5c956 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
	border: 1px solid green;
}

.ch_button_container input[type="button"].PublishBtn:hover
{
	background: linear-gradient(to bottom, #cdeb8e 0%,#E0E7CF 100%);
}

.ch_button_container input[type="button"].SubscribeBtn
{
	background: rgba(235,233,249,1);
	background: -moz-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,233,249,1)), color-stop(50%, rgba(216,208,239,1)), color-stop(51%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)));
	background: -webkit-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
	background: -o-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
	background: -ms-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
	background: linear-gradient(to bottom, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=0 );
	border: 1px solid rgb(0, 48, 128);
}

.ch_button_container input[type="button"].SubscribeBtn:hover
{
	background: linear-gradient(to bottom, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(212, 209, 255, 1) 100%);
}

.ch_type_container
{
	width:330px;
}

.ch_type_container input[type="text"]
{
	width:90%;
}

.ch_msg_container{
	width:50%;
}

.ch_msg_container textarea
{
	width:100%;
	min-height:250px;
}

.output-box{
	padding: 20px 0px;
}

.output-box span:first-child{
	display:inline-block;
	color:black;
	font-weight:bold;
}

.output-box textarea{
	width:90%;	
	background: rgb(255, 240, 231);
}

.Publish .output-box textarea{
	height:50px;
}

.Subscribe .output-box textarea{
	height:200px;
}

.create_protocol-container
{
	padding:20px 10px;
}


/* Width */

.firstBox {
	width:125px;
}

.secondBox{
	width:150px;
}

.thirdBox{
	width:330px;
}

.forthBox{
	width:40%;
	
}

.thridBox-long{
	width:750px;
}


/* share */

.pd10{
	padding:10px;
}

.ulWrapper{

	padding: 0px;
  	list-style-type: none;
  	margin: 0px;
}

.ulWrapper li{
	display:inline-block;
	vertical-align: top;
}

textarea{
	vertical-align:text-top;
}

body{
	font-family:sans-serif;
	color:rgb(112, 112, 112);
	background: rgba(242,242,242,1);
	background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 3%, rgba(254,254,254,1) 6%, rgba(254,254,254,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,242,242,1)), color-stop(3%, rgba(242,242,242,1)), color-stop(6%, rgba(254,254,254,1)), color-stop(100%, rgba(254,254,254,1)));
	background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 3%, rgba(254,254,254,1) 6%, rgba(254,254,254,1) 100%);
	background: -o-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 3%, rgba(254,254,254,1) 6%, rgba(254,254,254,1) 100%);
	background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 3%, rgba(254,254,254,1) 6%, rgba(254,254,254,1) 100%);
	background: linear-gradient(to bottom, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 3%, rgba(254,254,254,1) 6%, rgba(254,254,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#fefefe', GradientType=0 );
}

input {
	height:35px;
	font-weight:bold;
}

input[type="text"]
{
	padding:0px 10px;
}

select{
	width:100%;
	height:35px;
	font-weight:bold;
}